html{
    height: 100%;
}

body {
    display: flex; 
    flex-direction: column; 
    height: 100%;
}

nav{
    flex: 0 0 auto;
}

.disabled{
    pointer-events: none; /* делаем ссылку некликабельной */
    cursor: default;  /* устанавливаем курсор в виде стрелки */
    color: #999; /* цвет текста для нективной ссылки */
} 


section{
    flex: 1 0 auto;
    display: flex; 
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
}

footer{
    flex: 0 0 auto;
}

div[class^="block"]{
    width: 100px;
    height: 500px;
    /* background: gray; */
    margin: 20px;
    border-radius: 20px 20px 20px 20px;
    box-shadow: #555 -10px -10px 15px;    
    background: linear-gradient(to bottom right, tomato 1%, turquoise 35%, salmon 99%);
    outline: 10px dashed #000099;
    outline-offset: 15px;
}

div[class^="block"] p{
    margin: 2em 1em 3em 1em;
    color: black;
    font-weight: bold;
    text-shadow: lightgray 0 -2px 0.1em;
}

.block-2{
    flex: 1 0 auto;
}

.block-3{
    flex: 4 0 auto;  
}

.block-4{
    flex: 4 0 auto;    
}

.block-5{
    flex: 1 0 auto;    
}