:root {
    --main-color-text: #141b23;
    --second-color: #2766ad
}

body {
    width: 100%;
    background: white;
    color: var(--main-color-text);
    font-family: Raleway;
    margin: 0;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

section {    
    width: 100%;
    max-width: 1040px;
    margin: 20px auto 0px;
    flex: 1;
}

footer{
    width: 100%;
    max-width: 1040px;
    margin: 10px auto;
}

@font-face {
    font-family: "Raleway";
    src: url("../fonts/Raleway-Regular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}