:root {
    --main-color-text: #141b23;
    --second-color: #2766ad
}

*{
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    background: white;
    color: var(--main-color-text);
    font-family: Raleway;
    margin: 0;
}

h1{
   padding-left: 22vw;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.about-me{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 30px 0 20px;
}

.about-me p{
    margin-left: 5vw;
    margin-bottom: 20px;
    width: 40vw;
}

.my-photo{
    width: 16vw;
    height: 24vw;
    border: 1px solid #141b23;
    background-image: url('../IMG/my-photo.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

section {    
    width: 100%;
    max-width: 1040px;
    margin: 20px auto 0px;
    flex: 1;
}

.my-progects{
    margin-left: 20vw;
    margin-top: 20px;
    width: 61vw;
}

.psd-link{
    position: relative;
    width: 51px;
    height: 50px;
    background-image: url('../IMG/psd-icon.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    margin-left: 5vw;
    margin-bottom: 20px;
    
}

.psd-link a{
    position: absolute;
    width: 100%;
    height: 100%;
}

footer{
    width: 100%;
    max-width: 1040px;
    margin: 10px auto;
}

@font-face {
    font-family: "Raleway";
    src: url("../fonts/Raleway-Regular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}