@import url('https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz');

:root {
    --body-color: #fff;
    --menu-background-color: rgb(15, 25, 59);
}

* {
    box-sizing: border-box;
}

.navigation-menu {
    background-color: var(--menu-background-color);
    height: 100%;
    position: fixed;
    width: 100%;
    z-index: 100;
    transition: transform 1.2s;
    left: 0;
}

.navigation-menu--closed{
    transform: translateX(-100%);
}

.navigation-menu a {
    color: var(--body-color);
    background: var(--menu-background-color);
    text-decoration: none;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 2rem;
}

.navigation-menu__toggle {
    background: var(--menu-background-color);
    height: 160px;
    width: 160px;
    z-index: 10;
    right: -40px;
    top: calc(50% - 80px);
    border-radius: 50%;
    position: absolute;
    transform: rotate(45deg);
    transition: transform 1.2s;
    z-index: 0;
    opacity: 0.7;
}

.navigation-menu__toggle--open{
    transform: translateX(-50px) rotate(45deg);
    opacity: 1;
}



.mainNavMenuBurger {
    width: 30px;
    position: absolute;
    right: 24px;
    top: 24px;
    height: 30px;    
    transform: rotate(-45deg);
    background: inherit;
}

.mainNavMenuBurger:hover {
    cursor: pointer;
}

.menu-burger {
    width: 25px;
    height: 3px;
    position: absolute;
    top: 13px;
    left: 3px;
    background: #fff;
}

.menu-burger::before {
    width: 25px;
    height: 3px;
    position: absolute;
    bottom: 8px;
    content: '';
    background: #fff;
}

.menu-burger::after {
    width: 25px;
    height: 3px;
    position: absolute;
    bottom: -8px;
    content: '';
    background: #fff;
}

.navigation-menu__toggle--open .menu-burger{
    transform: rotate(225deg);
    transition: 1.5s;
}

.navigation-menu__toggle--open .menu-burger:before{
    animation-name: burger-X__before;
    animation-duration: 1.5s;
    animation-fill-mode: forwards;
}

.navigation-menu__toggle--open .menu-burger:after{
    animation-name: burger-X__after;
    animation-duration: 1.5s;
    animation-fill-mode: forwards;
}

@keyframes burger-X__after{
    from {
        transform: translateY(0) rotate(0);
    }
    20%{
        transform: translateY(-8px);
    }
    to{
        transform: translateY(-8px) rotate(-275deg);
    }

}

@keyframes burger-X__before{
    from {
        transform: translateY(0) rotate(0);
    }
    20%{
        transform: translateY(8px);
    }
    to{
        transform: translateY(8px) rotate(-275deg);
    }

}

.menu-list{
    margin: 70px 0;
    background: var(--menu-background-color);
}

.menu-list__item{
    margin: 20px 30px;
    background: inherit;
    list-style: none;
}



/* .navigation-menu__toggle:hover{
    
} */

@media only screen and (max-width: 700px) {}

@media only screen and (max-width: 480px) {}