html{
    height: 100%;
}

body{
    display: flex;
    flex-direction: column;
    background: #1c6c2e;
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
}
.navbar{
    flex: 1 0 auto;
    max-height: 310px;
}

section{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    flex: 2 0 auto;
    min-height: 600px;
    height: 90%;
}

.cards{
    flex: 0 0 262px;
    margin-top: 94px;
    margin-bottom: 20px;
    height: 262px;
}

.game-name{
    flex: 0 0 38px;
    font-family: OpenSans-Bold;
    font-size: 28px;
    color: rgba(255, 255, 255, 0.85);
    cursor: auto;
}

.start-game{
    flex: 0 0 42px;
}


.start-game button{
    width: 144px;
    height: 42px;
    background: rgba(255, 255, 255, 0.85);
    color: #1c6c2e;
    font-family: OpenSans-Bold;
    font-size: 16px;
    border-radius: 4px;
    border: none;
    text-decoration: none;
    outline: none;
    transition: .25s ease-in-out;
}

/* .start-game button:visited{
    box-shadow: gray 3px 3px 1px;
} */

.start-game button:hover{
    box-shadow: 0 0 10px 0 rgba(255, 255, 255, 0.85) inset, 0 0 10px 4px rgba(255, 255, 255, 0.85);
    color: #1c6c2e;
    cursor: pointer;
}

/* .start-game button:active{
    box-shadow: gray 1px 1px 1px;
} */

footer{
    flex: 0 0 auto;
    color: rgba(255, 255, 255, 0.85);
}

@font-face{
    font-family: "OpenSans-Bold";
    src: url("../fonts/OpenSans.ttf") format("truetype");
}
 
    