body{
    padding: 0;
    background: #141b23;
}

.wrapper{
    height: 666px;
    width: 1000px;
    background: #141b23 url('F:\projects/portfolio/Content/IMG/simple.PNG') no-repeat 0 0;
    padding: 0;
    position: absolute;
    top: 0;
    margin-left: auto;
}

header{
    margin-left: 54px;
    margin-top: 62px;
    font-size: 16px;
    color: white;
}
 
header a{
    display: inline-block;
    text-decoration: none;
    font-size: 16px;
    color: #7d8592;
    margin-right: 18px;
}

header a:hover{
    color:  #ffffff;
}

section{
    height: 265px;
    width: 475px;
    margin-left: 96px;
    margin-top:65px;
}

section h1{
    margin: 0;
    font-size: 26px;
    color: #ffffff;
}

section p{
    margin-top: 0;
    font-size: 14px;
    color: #ffffff;
}

footer p{
    position: absolute;
    bottom: 0;
    color: #2e343b;
    font-size: 12px;
    margin-left: 54px;
    margin-bottom: 50px;
}