.navbar{
    width: 100%;
}
body {
    max-width: 1400px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    margin: 0;
    padding: 0;
    font-size: 14px;
    /* background-color: grey; */
}

header,
nav,
section,
footer{
    display:flex;
}

header {
    flex-direction: row;
    justify-content: space-between;
    max-height: 230px;
    width: 100%;
    background: #dbdbdb;
    padding: 65px 14%;
    color: #757575;
}
.logo-name{
    display:flex;
}
.logo{
    height: 100px;
    width: 100px;
    background: #757575;
}
.name{
    width: 230px;
    margin: 10px 10px 14px 12px ;
}
.name h1{
    font-size: 2rem;
    font-weight: bold;
    line-height: 1.5rem;
    margin: 0;
}

.name p{
    font-size: 0.9rem;
    text-transform: uppercase;
    margin: 10px 0 0 0;
}

.contacts{
    font-size: 1.5rem;
    line-height: 1.8rem;
    margin: 15px 0 0 0;
}

.contacts p{
    margin: 0
}

.navigation {
    justify-content: center;
    align-self: stretch;
    min-height: 5.7rem;
    width: 100%;
    background: #767676;
    padding: 2em 0;
}

.navigation ul{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 2em;
}

@media screen and (max-width: 1000px) {
    .navigation ul{
        font-size: 1rem;
    }
}

.navigation ul li{
    align-self: center;
    list-style: none;
    padding: 0 1.2em;
}

@media screen and (max-width: 760px) {
    header{
        min-height: 140px;
        padding: 30px;
    }
    
    .navigation{
        min-height: 3.7rem;
        padding: 0;
    }
    .navigation ul{
        margin: auto;
        padding: 20px 0;
    }
    .navigation ul li {
        font-size: 1rem;
    }
    footer{
        padding: 50px 20px;
    }
}

.nav-page{
    border-right: 4px solid white;
}

.navigation ul li:hover{
    cursor: pointer;
    text-decoration: underline;
}

.navigation ul li a{
    flex-grow: 1;
    color: white;
        
}

.slider {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 400px;
    background: #f8f8f8;
}

svg{
    width: 100%;
    height: 100%;     
}
@media screen and (max-width: 1250px) {
    .slider {
        display: none;
    }
}

section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    min-height: 785px;
    width: 100%;
    background: #ffffff;
    padding-top: 30px;
}

.news{
    flex-basis: 25em;
    min-height: 40em;
    margin-left: 14%;
    margin-right: 4%;
    order: 1;
    background: #767676;
    font-size: 1em;
    color: #ffffff;
    padding: 1.5rem 3.8rem 1.5rem 2.4rem;
}

.news-story{
    text-align: end;
    margin-top: 2.8em;
}

.news a{
    font-size: 1em;
    color: #ffffff;
    text-decoration-line: underline;
}

.about{
    flex-basis: 41.6em;
    min-height: 40em;
    margin-right: 14%;
    order: 1;
    padding: 0.71em;
    padding-bottom: 0;
    font-size: 1em;
    color: #767676;
}
@media screen and (max-width: 760px) {
    section{
        padding: 30px 20px 20px;
    }
    .news{
        margin-right: 20px;
        margin-left: 0;
    }
    .about{
        margin: 0;
    }
}
footer {
    flex-direction: row;
    justify-content: space-between;
    padding: 50px 14%;
    min-height: 220px;
    width: 100%;
    background: #767676;
    color: #ffffff;
}

.footer-1 p{
    padding: 0;
    margin: 0;
}

.footer-nav ul{
    padding: 0;
    margin: 0;
}
.footer-nav ul li{
    list-style: none;
}

.footer-nav ul li a{
    color: #ffffff;
    text-decoration: underline;
}

.footer-nav ul li a:hover{
    cursor: pointer;
}
.footer-3{
    width: 230px;
    min-width: 180px;
    height: 50px;
    background: url(../img/logo-pixel-plus-middle.png) left center no-repeat;
}

.company-pixel-plus{
    text-decoration: underline;
}
.footer-3 p{
    padding: 0;
    margin: 0 0 0 50px;
}
