body {

    background: #141b23;
    color: #e7e7e7; 
    font-family: Raleway;
}

.carousel-align {
    width: 800px;
    margin: 0 auto;
}

.main-menu a{    
    color: whitesmoke;
}

.main-section {
    width: 800px;
    margin: 0 auto;
}

#carouselExampleIndicators {
    display: none;
}

@media screen and (min-width: 800px) {
    #carouselExampleIndicators {
        display: block;
    }
}

.modal{
    color: black;
}

@font-face {
    font-family: "Raleway"; 
    src: url("../fonts/Raleway-Regular.ttf") format("truetype"); 
    font-style: normal; 
    font-weight: normal; 
    } 

